<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>콘서트 등록</title>
</head>
>
<body>

<button onclick="logout()" class="logout-btn">로그아웃</button>


</body>
<script>
    async function logout() {
        try {
            await fetch('/api/auth/logout', {
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('accessToken'),
                    'Content-Type': 'application/json'
                }
            });

            localStorage.clear();
            sessionStorage.clear();

            window.location.replace('/member/login');

        } catch (error) {
            console.error('로그아웃 실패:', error);
            localStorage.clear();
            sessionStorage.clear();
            window.location.replace('/');
        }
    }


</script>
</html>

